.cont {
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
  flex: 4;
}

.form {
  margin: auto;
  width: 40%;
  height: 100%;
}

h1,
h2,
.user,
.pass {
  text-align: center;
  display: block;
}

h1 {
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.pass,
.login {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.user {
  width: 90%;
  height: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user,
.pass {
  background: #ecf0f1;
}

.login {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: darkblue;
  transition: background 0.4s ease;
}

.login:hover {
  background: #3570dc;
}

@media only screen and (min-width: 280px) {
  .cont {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .cont {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .cont {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .cont {
    width: 30%;
  }
}
